* {
 font-family: ftltlt; /* set name */
 font-weight: 100;
 
  
}

@font-face {
  font-family: ftltlt; /* set name */
  src: url(../fonts/ftltlt-webfont.woff); /* url of the font */
}

.stage {  
    position: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow:hidden;   
  
}

.bannerSize { 
width: 970px; 
height: 250px; 
background-color: black;
color: white;
position: relative; 

}

.bannerHolder {
    padding-left: 30px;
}


.h1 {
  font-size: 55px;
  margin-bottom: 0;
  
}

.h2 {
  font-size: 33px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0;
  
}

.h3 {

  font-size: 21px;
  font-weight: 380;
  margin-top: 0;
}

.simkaart {

    position: relative;
    bottom: -40px;
}

ul,
.li{
  list-style-type: none;
  position: relative;
  font-size: 20px;
  left: -68px;
  bottom: -60px;

}

.button {

  background-color: #7272dd;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  right: 12px;
  padding: 20px 65px;
  top: 70px;
  border: 1px solid white;
  text-decoration: none;
  z-index: 1;
  position: relative;
  transition: transform 180ms ease-in-out;
  max-width: 100px;
  font-size: 20px;
  text-align: center;
  

}

.button:hover {

  background-color: #191435;
  cursor: pointer;
  transform: scale(1.1);
  
}



.yuvarlak1 {

  width: 700px;
  height: 500px;
  background-color: #7272dd;
  border-radius: 100%;
  right: -400px;
  position: absolute;
  z-index: 0;
  top: -50px;

}

.kutucontainer {

  display: flex;
  position: absolute;
  gap: 5px;
  top: 20px;
  left: 30px;
  
}

.kutuone-child {

  width: 17px;
  height: 6px;
  z-index: 99;
  position: relative;
  
}

.first {

    background-color: #9000ff;
}

.second {


    background-color: #55559f;
}

.third {

    background-color: #b0b0eb;
}

.hi {
    position: absolute;
    top: 30px;
    left: 160px;
}
