.baba-container {

    display: flex;
    gap: 50px;
    flex-direction: column;
}

.container {

    display: flex;
    width: 1100px;
    height: 200px;
    gap: 100px;
}

.box {

    height: 200px;
    width: 200px;
}


.blue {

    background-color: blue;
    
}

.black {

    background-color: black;
    
}

.red {

    background-color: red;
    
}

.green {

    background-color: green;
    
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 1100px;
    height: 200px;
    gap: 100px;
}

